<!DOCTYPE html>
<html>
{% load static %}

<head>
  <title></title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Admin Dashboard">
          <a class="nav-link" href="/admin/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Export to CSV">
          <a class="nav-link" href="{% url 'export_data_csv' %}">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Export to CSV</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Export to Excel">
          <a class="nav-link" href="{% url 'export_data_xls' %}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Export to Excel</span>
          </a>
        </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Append More Product">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Append More Product</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Products</a>
        </li>
        <li class="breadcrumb-item active">Product dashboard</li>
      </ol>
      {% if message %}
        {{message}}
      {% endif %}

      <div class="card mb-3">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered infinite-container" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Index</th>
                  <th>Product Name</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Color</th>
                  <th>Price</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                {% for data in page_obj %}
                <tr class="infinite-item">
                    <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>{{data.product_name}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.brand}}</td>
                    <td>{{data.color}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.type}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if page_obj.has_next %}
                <div class="loading" style="text-align: center;max-width: available">
                    Cursor Here And Show More Data ...
                </div>
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
</body>
</html>

<script>
  $('.loading').on('mouseover',function () {
      var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
              $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
              $('.loading').hide();
          }
      });
  })
</script>
